@font-face {
  font-family: 'line';
  src:  url('fonts/line.eot?aohkwm');
  src:  url('fonts/line.eot?aohkwm#iefix') format('embedded-opentype'),
    url('fonts/line.ttf?aohkwm') format('truetype'),
    url('fonts/line.woff?aohkwm') format('woff'),
    url('fonts/line.svg?aohkwm#line') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wll-"], [class*=" wll-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'line' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wll-mobile:before {
  content: "\e000";
}
.wll-laptop:before {
  content: "\e001";
}
.wll-desktop:before {
  content: "\e002";
}
.wll-tablet:before {
  content: "\e003";
}
.wll-phone:before {
  content: "\e004";
}
.wll-document:before {
  content: "\e005";
}
.wll-documents:before {
  content: "\e006";
}
.wll-search:before {
  content: "\e007";
}
.wll-clipboard:before {
  content: "\e008";
}
.wll-newspaper:before {
  content: "\e009";
}
.wll-notebook:before {
  content: "\e00a";
}
.wll-book-open:before {
  content: "\e00b";
}
.wll-browser:before {
  content: "\e00c";
}
.wll-calendar:before {
  content: "\e00d";
}
.wll-presentation:before {
  content: "\e00e";
}
.wll-picture:before {
  content: "\e00f";
}
.wll-pictures:before {
  content: "\e010";
}
.wll-video:before {
  content: "\e011";
}
.wll-camera:before {
  content: "\e012";
}
.wll-printer:before {
  content: "\e013";
}
.wll-toolbox:before {
  content: "\e014";
}
.wll-briefcase:before {
  content: "\e015";
}
.wll-wallet:before {
  content: "\e016";
}
.wll-gift:before {
  content: "\e017";
}
.wll-bargraph:before {
  content: "\e018";
}
.wll-grid:before {
  content: "\e019";
}
.wll-expand:before {
  content: "\e01a";
}
.wll-focus:before {
  content: "\e01b";
}
.wll-edit:before {
  content: "\e01c";
}
.wll-adjustments:before {
  content: "\e01d";
}
.wll-ribbon:before {
  content: "\e01e";
}
.wll-hourglass:before {
  content: "\e01f";
}
.wll-lock:before {
  content: "\e020";
}
.wll-megaphone:before {
  content: "\e021";
}
.wll-shield:before {
  content: "\e022";
}
.wll-trophy:before {
  content: "\e023";
}
.wll-flag:before {
  content: "\e024";
}
.wll-map:before {
  content: "\e025";
}
.wll-puzzle:before {
  content: "\e026";
}
.wll-basket:before {
  content: "\e027";
}
.wll-envelope:before {
  content: "\e028";
}
.wll-streetsign:before {
  content: "\e029";
}
.wll-telescope:before {
  content: "\e02a";
}
.wll-gears:before {
  content: "\e02b";
}
.wll-key:before {
  content: "\e02c";
}
.wll-paperclip:before {
  content: "\e02d";
}
.wll-attachment:before {
  content: "\e02e";
}
.wll-pricetags:before {
  content: "\e02f";
}
.wll-lightbulb:before {
  content: "\e030";
}
.wll-layers:before {
  content: "\e031";
}
.wll-pencil:before {
  content: "\e032";
}
.wll-tools:before {
  content: "\e033";
}
.wll-tools-2:before {
  content: "\e034";
}
.wll-scissors:before {
  content: "\e035";
}
.wll-paintbrush:before {
  content: "\e036";
}
.wll-magnifying-glass:before {
  content: "\e037";
}
.wll-circle-compass:before {
  content: "\e038";
}
.wll-linegraph:before {
  content: "\e039";
}
.wll-mic:before {
  content: "\e03a";
}
.wll-strategy:before {
  content: "\e03b";
}
.wll-beaker:before {
  content: "\e03c";
}
.wll-caution:before {
  content: "\e03d";
}
.wll-recycle:before {
  content: "\e03e";
}
.wll-anchor:before {
  content: "\e03f";
}
.wll-profile-male:before {
  content: "\e040";
}
.wll-profile-female:before {
  content: "\e041";
}
.wll-bike:before {
  content: "\e042";
}
.wll-wine:before {
  content: "\e043";
}
.wll-hotairballoon:before {
  content: "\e044";
}
.wll-globe:before {
  content: "\e045";
}
.wll-genius:before {
  content: "\e046";
}
.wll-map-pin:before {
  content: "\e047";
}
.wll-dial:before {
  content: "\e048";
}
.wll-chat:before {
  content: "\e049";
}
.wll-heart:before {
  content: "\e04a";
}
.wll-cloud:before {
  content: "\e04b";
}
.wll-upload:before {
  content: "\e04c";
}
.wll-download:before {
  content: "\e04d";
}
.wll-target:before {
  content: "\e04e";
}
.wll-hazardous:before {
  content: "\e04f";
}
.wll-piechart:before {
  content: "\e050";
}
.wll-speedometer:before {
  content: "\e051";
}
.wll-global:before {
  content: "\e052";
}
.wll-compass:before {
  content: "\e053";
}
.wll-lifesaver:before {
  content: "\e054";
}
.wll-clock:before {
  content: "\e055";
}
.wll-aperture:before {
  content: "\e056";
}
.wll-quote:before {
  content: "\e057";
}
.wll-scope:before {
  content: "\e058";
}
.wll-alarmclock:before {
  content: "\e059";
}
.wll-refresh:before {
  content: "\e05a";
}
.wll-happy:before {
  content: "\e05b";
}
.wll-sad:before {
  content: "\e05c";
}
.wll-facebook:before {
  content: "\e05d";
}
.wll-twitter:before {
  content: "\e05e";
}
.wll-googleplus:before {
  content: "\e05f";
}
.wll-rss:before {
  content: "\e060";
}
.wll-tumblr:before {
  content: "\e061";
}
.wll-linkedin:before {
  content: "\e062";
}
.wll-dribbble:before {
  content: "\e063";
}
