@font-face {
  font-family: 'weblive';
  src:  url('fonts/weblive.eot?7onvtr');
  src:  url('fonts/weblive.eot?7onvtr#iefix') format('embedded-opentype'),
    url('fonts/weblive.ttf?7onvtr') format('truetype'),
    url('fonts/weblive.woff?7onvtr') format('woff'),
    url('fonts/weblive.svg?7onvtr#weblive') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wl-"], [class*=" wl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weblive' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wl-home:before {
  content: "\eece";
}
.wl-home2:before {
  content: "\eecf";
}
.wl-home3:before {
  content: "\eed0";
}
.wl-office:before {
  content: "\eed1";
}
.wl-newspaper:before {
  content: "\eed2";
}
.wl-pencil:before {
  content: "\eed3";
}
.wl-pencil2:before {
  content: "\eed4";
}
.wl-quill:before {
  content: "\eed5";
}
.wl-pen:before {
  content: "\eed6";
}
.wl-blog:before {
  content: "\eed7";
}
.wl-eyedropper:before {
  content: "\eed8";
}
.wl-droplet:before {
  content: "\eed9";
}
.wl-paint-format:before {
  content: "\eeda";
}
.wl-image:before {
  content: "\eedb";
}
.wl-images:before {
  content: "\eedc";
}
.wl-camera:before {
  content: "\eedd";
}
.wl-headphones:before {
  content: "\eede";
}
.wl-music:before {
  content: "\eedf";
}
.wl-play:before {
  content: "\eee0";
}
.wl-film:before {
  content: "\eee1";
}
.wl-video-camera:before {
  content: "\eee2";
}
.wl-dice:before {
  content: "\eee3";
}
.wl-pacman:before {
  content: "\eee4";
}
.wl-spades:before {
  content: "\eee5";
}
.wl-clubs:before {
  content: "\eee6";
}
.wl-diamonds:before {
  content: "\eee7";
}
.wl-bullhorn:before {
  content: "\eee8";
}
.wl-connection:before {
  content: "\eee9";
}
.wl-podcast:before {
  content: "\eeea";
}
.wl-feed:before {
  content: "\eeeb";
}
.wl-mic:before {
  content: "\eeec";
}
.wl-book:before {
  content: "\eeed";
}
.wl-books:before {
  content: "\eeee";
}
.wl-library:before {
  content: "\eeef";
}
.wl-file-text:before {
  content: "\eef0";
}
.wl-profile:before {
  content: "\eef1";
}
.wl-file-empty:before {
  content: "\eef2";
}
.wl-files-empty:before {
  content: "\eef3";
}
.wl-file-text2:before {
  content: "\eef4";
}
.wl-file-picture:before {
  content: "\eef5";
}
.wl-file-music:before {
  content: "\eef6";
}
.wl-file-play:before {
  content: "\eef7";
}
.wl-file-video:before {
  content: "\eef8";
}
.wl-file-zip:before {
  content: "\eef9";
}
.wl-copy:before {
  content: "\eefa";
}
.wl-paste:before {
  content: "\eefb";
}
.wl-stack:before {
  content: "\eefc";
}
.wl-folder:before {
  content: "\eefd";
}
.wl-folder-open:before {
  content: "\eefe";
}
.wl-folder-plus:before {
  content: "\eeff";
}
.wl-folder-minus:before {
  content: "\ef00";
}
.wl-folder-download:before {
  content: "\ef01";
}
.wl-folder-upload:before {
  content: "\ef02";
}
.wl-price-tag:before {
  content: "\ef03";
}
.wl-price-tags:before {
  content: "\ef04";
}
.wl-barcode:before {
  content: "\ef05";
}
.wl-qrcode:before {
  content: "\ef06";
}
.wl-ticket:before {
  content: "\ef07";
}
.wl-cart:before {
  content: "\ef08";
}
.wl-coin-dollar:before {
  content: "\ef09";
}
.wl-coin-euro:before {
  content: "\ef0a";
}
.wl-coin-pound:before {
  content: "\ef0b";
}
.wl-coin-yen:before {
  content: "\ef0c";
}
.wl-credit-card:before {
  content: "\ef0d";
}
.wl-calculator:before {
  content: "\ef0e";
}
.wl-lifebuoy:before {
  content: "\ef0f";
}
.wl-phone:before {
  content: "\ef10";
}
.wl-phone-hang-up:before {
  content: "\ef11";
}
.wl-address-book:before {
  content: "\ef12";
}
.wl-envelop:before {
  content: "\ef13";
}
.wl-pushpin:before {
  content: "\ef14";
}
.wl-location:before {
  content: "\ef15";
}
.wl-location2:before {
  content: "\ef16";
}
.wl-compass:before {
  content: "\ef17";
}
.wl-compass2:before {
  content: "\ef18";
}
.wl-map:before {
  content: "\ef19";
}
.wl-map2:before {
  content: "\ef1a";
}
.wl-history:before {
  content: "\ef1b";
}
.wl-clock:before {
  content: "\ef1c";
}
.wl-clock2:before {
  content: "\ef1d";
}
.wl-alarm:before {
  content: "\ef1e";
}
.wl-bell:before {
  content: "\ef1f";
}
.wl-stopwatch:before {
  content: "\ef20";
}
.wl-calendar:before {
  content: "\ef21";
}
.wl-printer:before {
  content: "\ef22";
}
.wl-keyboard:before {
  content: "\ef23";
}
.wl-display:before {
  content: "\ef24";
}
.wl-laptop:before {
  content: "\ef25";
}
.wl-mobile:before {
  content: "\ef26";
}
.wl-mobile2:before {
  content: "\ef27";
}
.wl-tablet:before {
  content: "\ef28";
}
.wl-tv:before {
  content: "\ef29";
}
.wl-drawer:before {
  content: "\ef2a";
}
.wl-drawer2:before {
  content: "\ef2b";
}
.wl-box-add:before {
  content: "\ef2c";
}
.wl-box-remove:before {
  content: "\ef2d";
}
.wl-download:before {
  content: "\ef2e";
}
.wl-upload:before {
  content: "\ef2f";
}
.wl-floppy-disk:before {
  content: "\ef30";
}
.wl-drive:before {
  content: "\ef31";
}
.wl-database:before {
  content: "\ef32";
}
.wl-undo:before {
  content: "\ef33";
}
.wl-redo:before {
  content: "\ef34";
}
.wl-undo2:before {
  content: "\ef35";
}
.wl-redo2:before {
  content: "\ef36";
}
.wl-forward:before {
  content: "\ef37";
}
.wl-reply:before {
  content: "\ef38";
}
.wl-bubble:before {
  content: "\ef39";
}
.wl-bubbles:before {
  content: "\ef3a";
}
.wl-bubbles2:before {
  content: "\ef3b";
}
.wl-bubble2:before {
  content: "\ef3c";
}
.wl-bubbles3:before {
  content: "\ef3d";
}
.wl-bubbles4:before {
  content: "\ef3e";
}
.wl-user:before {
  content: "\ef3f";
}
.wl-users:before {
  content: "\ef40";
}
.wl-user-plus:before {
  content: "\ef41";
}
.wl-user-minus:before {
  content: "\ef42";
}
.wl-user-check:before {
  content: "\ef43";
}
.wl-user-tie:before {
  content: "\ef44";
}
.wl-quotes-left:before {
  content: "\ef45";
}
.wl-quotes-right:before {
  content: "\ef46";
}
.wl-hour-glass:before {
  content: "\ef47";
}
.wl-spinner:before {
  content: "\ef48";
}
.wl-spinner2:before {
  content: "\ef49";
}
.wl-spinner3:before {
  content: "\ef4a";
}
.wl-spinner4:before {
  content: "\ef4b";
}
.wl-spinner5:before {
  content: "\ef4c";
}
.wl-spinner6:before {
  content: "\ef4d";
}
.wl-spinner7:before {
  content: "\ef4e";
}
.wl-spinner8:before {
  content: "\ef4f";
}
.wl-spinner9:before {
  content: "\ef50";
}
.wl-spinner10:before {
  content: "\ef51";
}
.wl-spinner11:before {
  content: "\ef52";
}
.wl-binoculars:before {
  content: "\ef53";
}
.wl-search:before {
  content: "\ef54";
}
.wl-zoom-in:before {
  content: "\ef55";
}
.wl-zoom-out:before {
  content: "\ef56";
}
.wl-enlarge:before {
  content: "\ef57";
}
.wl-shrink:before {
  content: "\ef58";
}
.wl-enlarge2:before {
  content: "\ef59";
}
.wl-shrink2:before {
  content: "\ef5a";
}
.wl-key:before {
  content: "\ef5b";
}
.wl-key2:before {
  content: "\ef5c";
}
.wl-lock:before {
  content: "\ef5d";
}
.wl-unlocked:before {
  content: "\ef5e";
}
.wl-wrench:before {
  content: "\ef5f";
}
.wl-equalizer:before {
  content: "\ef60";
}
.wl-equalizer2:before {
  content: "\ef61";
}
.wl-cog:before {
  content: "\ef62";
}
.wl-cogs:before {
  content: "\ef63";
}
.wl-hammer:before {
  content: "\ef64";
}
.wl-magic-wand:before {
  content: "\ef65";
}
.wl-aid-kit:before {
  content: "\ef66";
}
.wl-bug:before {
  content: "\ef67";
}
.wl-pie-chart:before {
  content: "\ef68";
}
.wl-stats-dots:before {
  content: "\ef69";
}
.wl-stats-bars:before {
  content: "\ef6a";
}
.wl-stats-bars2:before {
  content: "\ef6b";
}
.wl-trophy:before {
  content: "\ef6c";
}
.wl-gift:before {
  content: "\ef6d";
}
.wl-glass:before {
  content: "\ef6e";
}
.wl-glass2:before {
  content: "\ef6f";
}
.wl-mug:before {
  content: "\ef70";
}
.wl-spoon-knife:before {
  content: "\ef71";
}
.wl-leaf:before {
  content: "\ef72";
}
.wl-rocket:before {
  content: "\ef73";
}
.wl-meter:before {
  content: "\ef74";
}
.wl-meter2:before {
  content: "\ef75";
}
.wl-hammer2:before {
  content: "\ef76";
}
.wl-fire:before {
  content: "\ef77";
}
.wl-lab:before {
  content: "\ef78";
}
.wl-magnet:before {
  content: "\ef79";
}
.wl-bin:before {
  content: "\ef7a";
}
.wl-bin2:before {
  content: "\ef7b";
}
.wl-briefcase:before {
  content: "\ef7c";
}
.wl-airplane:before {
  content: "\ef7d";
}
.wl-truck:before {
  content: "\ef7e";
}
.wl-road:before {
  content: "\ef7f";
}
.wl-accessibility:before {
  content: "\ef80";
}
.wl-target:before {
  content: "\ef81";
}
.wl-shield:before {
  content: "\ef82";
}
.wl-power:before {
  content: "\ef83";
}
.wl-switch:before {
  content: "\ef84";
}
.wl-power-cord:before {
  content: "\ef85";
}
.wl-clipboard:before {
  content: "\ef86";
}
.wl-list-numbered:before {
  content: "\ef87";
}
.wl-list:before {
  content: "\ef88";
}
.wl-list2:before {
  content: "\ef89";
}
.wl-tree:before {
  content: "\ef8a";
}
.wl-menu:before {
  content: "\ef8b";
}
.wl-menu2:before {
  content: "\ef8c";
}
.wl-menu3:before {
  content: "\ef8d";
}
.wl-menu4:before {
  content: "\ef8e";
}
.wl-cloud:before {
  content: "\ef8f";
}
.wl-cloud-download:before {
  content: "\ef90";
}
.wl-cloud-upload:before {
  content: "\ef91";
}
.wl-cloud-check:before {
  content: "\ef92";
}
.wl-download2:before {
  content: "\ef93";
}
.wl-upload2:before {
  content: "\ef94";
}
.wl-download3:before {
  content: "\ef95";
}
.wl-upload3:before {
  content: "\ef96";
}
.wl-sphere:before {
  content: "\ef97";
}
.wl-earth:before {
  content: "\ef98";
}
.wl-link:before {
  content: "\ef99";
}
.wl-flag:before {
  content: "\ef9a";
}
.wl-attachment:before {
  content: "\ef9b";
}
.wl-eye:before {
  content: "\ef9c";
}
.wl-eye-plus:before {
  content: "\ef9d";
}
.wl-eye-minus:before {
  content: "\ef9e";
}
.wl-eye-blocked:before {
  content: "\ef9f";
}
.wl-bookmark:before {
  content: "\efa0";
}
.wl-bookmarks:before {
  content: "\efa1";
}
.wl-sun:before {
  content: "\efa2";
}
.wl-contrast:before {
  content: "\efa3";
}
.wl-brightness-contrast:before {
  content: "\efa4";
}
.wl-star-empty:before {
  content: "\efa5";
}
.wl-star-half:before {
  content: "\efa6";
}
.wl-star-full:before {
  content: "\efa7";
}
.wl-heart:before {
  content: "\efa8";
}
.wl-heart-broken:before {
  content: "\efa9";
}
.wl-man:before {
  content: "\efaa";
}
.wl-woman:before {
  content: "\efab";
}
.wl-man-woman:before {
  content: "\efac";
}
.wl-happy:before {
  content: "\efad";
}
.wl-happy2:before {
  content: "\efae";
}
.wl-smile:before {
  content: "\efaf";
}
.wl-smile2:before {
  content: "\efb0";
}
.wl-tongue:before {
  content: "\efb1";
}
.wl-tongue2:before {
  content: "\efb2";
}
.wl-sad:before {
  content: "\efb3";
}
.wl-sad2:before {
  content: "\efb4";
}
.wl-wink:before {
  content: "\efb5";
}
.wl-wink2:before {
  content: "\efb6";
}
.wl-grin:before {
  content: "\efb7";
}
.wl-grin2:before {
  content: "\efb8";
}
.wl-cool:before {
  content: "\efb9";
}
.wl-cool2:before {
  content: "\efba";
}
.wl-angry:before {
  content: "\efbb";
}
.wl-angry2:before {
  content: "\efbc";
}
.wl-evil:before {
  content: "\efbd";
}
.wl-evil2:before {
  content: "\efbe";
}
.wl-shocked:before {
  content: "\efbf";
}
.wl-shocked2:before {
  content: "\efc0";
}
.wl-baffled:before {
  content: "\efc1";
}
.wl-baffled2:before {
  content: "\efc2";
}
.wl-confused:before {
  content: "\efc3";
}
.wl-confused2:before {
  content: "\efc4";
}
.wl-neutral:before {
  content: "\efc5";
}
.wl-neutral2:before {
  content: "\efc6";
}
.wl-hipster:before {
  content: "\efc7";
}
.wl-hipster2:before {
  content: "\efc8";
}
.wl-wondering:before {
  content: "\efc9";
}
.wl-wondering2:before {
  content: "\efca";
}
.wl-sleepy:before {
  content: "\efcb";
}
.wl-sleepy2:before {
  content: "\efcc";
}
.wl-frustrated:before {
  content: "\efcd";
}
.wl-frustrated2:before {
  content: "\efce";
}
.wl-crying:before {
  content: "\efcf";
}
.wl-crying2:before {
  content: "\efd0";
}
.wl-point-up:before {
  content: "\efd1";
}
.wl-point-right:before {
  content: "\efd2";
}
.wl-point-down:before {
  content: "\efd3";
}
.wl-point-left:before {
  content: "\efd4";
}
.wl-warning:before {
  content: "\efd5";
}
.wl-notification:before {
  content: "\efd6";
}
.wl-question:before {
  content: "\efd7";
}
.wl-plus:before {
  content: "\efd8";
}
.wl-minus:before {
  content: "\efd9";
}
.wl-info:before {
  content: "\efda";
}
.wl-cancel-circle:before {
  content: "\efdb";
}
.wl-blocked:before {
  content: "\efdc";
}
.wl-cross:before {
  content: "\efdd";
}
.wl-checkmark:before {
  content: "\efde";
}
.wl-checkmark2:before {
  content: "\efdf";
}
.wl-spell-check:before {
  content: "\efe0";
}
.wl-enter:before {
  content: "\efe1";
}
.wl-exit:before {
  content: "\efe2";
}
.wl-play2:before {
  content: "\efe3";
}
.wl-pause:before {
  content: "\efe4";
}
.wl-stop:before {
  content: "\efe5";
}
.wl-previous:before {
  content: "\efe6";
}
.wl-next:before {
  content: "\efe7";
}
.wl-backward:before {
  content: "\efe8";
}
.wl-forward2:before {
  content: "\efe9";
}
.wl-play3:before {
  content: "\efea";
}
.wl-pause2:before {
  content: "\efeb";
}
.wl-stop2:before {
  content: "\efec";
}
.wl-backward2:before {
  content: "\efed";
}
.wl-forward3:before {
  content: "\efee";
}
.wl-first:before {
  content: "\efef";
}
.wl-last:before {
  content: "\eff0";
}
.wl-previous2:before {
  content: "\eff1";
}
.wl-next2:before {
  content: "\eff2";
}
.wl-eject:before {
  content: "\eff3";
}
.wl-volume-high:before {
  content: "\eff4";
}
.wl-volume-medium:before {
  content: "\eff5";
}
.wl-volume-low:before {
  content: "\eff6";
}
.wl-volume-mute:before {
  content: "\eff7";
}
.wl-volume-mute2:before {
  content: "\eff8";
}
.wl-volume-increase:before {
  content: "\eff9";
}
.wl-volume-decrease:before {
  content: "\effa";
}
.wl-loop:before {
  content: "\effb";
}
.wl-loop2:before {
  content: "\effc";
}
.wl-infinite:before {
  content: "\effd";
}
.wl-shuffle:before {
  content: "\effe";
}
.wl-arrow-up-left:before {
  content: "\efff";
}
.wl-arrow-up:before {
  content: "\f00f";
}
.wl-arrow-up-right:before {
  content: "\f01f";
}
.wl-arrow-right:before {
  content: "\f020";
}
.wl-arrow-down-right:before {
  content: "\f03f";
}
.wl-arrow-down:before {
  content: "\f04f";
}
.wl-arrow-down-left:before {
  content: "\f05f";
}
.wl-arrow-left:before {
  content: "\f06f";
}
.wl-arrow-up-left2:before {
  content: "\f07f";
}
.wl-arrow-up2:before {
  content: "\f08f";
}
.wl-arrow-up-right2:before {
  content: "\f09f";
}
.wl-arrow-right2:before {
  content: "\f0af";
}
.wl-arrow-down-right2:before {
  content: "\f0b3";
}
.wl-arrow-down2:before {
  content: "\f0b4";
}
.wl-arrow-down-left2:before {
  content: "\f0b5";
}
.wl-arrow-left2:before {
  content: "\f0b6";
}
.wl-circle-up:before {
  content: "\f0b7";
}
.wl-circle-right:before {
  content: "\f0b8";
}
.wl-circle-down:before {
  content: "\f0b9";
}
.wl-circle-left:before {
  content: "\f0ba";
}
.wl-tab:before {
  content: "\f0bb";
}
.wl-move-up:before {
  content: "\f0bc";
}
.wl-move-down:before {
  content: "\f0bd";
}
.wl-sort-alpha-asc:before {
  content: "\f0be";
}
.wl-sort-alpha-desc:before {
  content: "\f0bf";
}
.wl-sort-numeric-asc:before {
  content: "\f0cf";
}
.wl-sort-numberic-desc:before {
  content: "\f0df";
}
.wl-sort-amount-asc:before {
  content: "\f0ef";
}
.wl-sort-amount-desc:before {
  content: "\f0ff";
}
.wl-command:before {
  content: "\f10f";
}
.wl-shift:before {
  content: "\f116";
}
.wl-ctrl:before {
  content: "\f117";
}
.wl-opt:before {
  content: "\f11f";
}
.wl-checkbox-checked:before {
  content: "\f12f";
}
.wl-checkbox-unchecked:before {
  content: "\f13f";
}
.wl-radio-checked:before {
  content: "\f14f";
}
.wl-radio-checked2:before {
  content: "\f15f";
}
.wl-radio-unchecked:before {
  content: "\f16f";
}
.wl-crop:before {
  content: "\f17f";
}
.wl-make-group:before {
  content: "\f18f";
}
.wl-ungroup:before {
  content: "\f19f";
}
.wl-scissors:before {
  content: "\f1af";
}
.wl-filter:before {
  content: "\f1bf";
}
.wl-font:before {
  content: "\f1cf";
}
.wl-ligature:before {
  content: "\f1df";
}
.wl-ligature2:before {
  content: "\f1ef";
}
.wl-text-height:before {
  content: "\f1ff";
}
.wl-text-width:before {
  content: "\f20f";
}
.wl-font-size:before {
  content: "\f21f";
}
.wl-bold:before {
  content: "\f220";
}
.wl-underline:before {
  content: "\f22e";
}
.wl-italic:before {
  content: "\f22f";
}
.wl-strikethrough:before {
  content: "\f23f";
}
.wl-omega:before {
  content: "\f24f";
}
.wl-sigma:before {
  content: "\f25f";
}
.wl-page-break:before {
  content: "\f26f";
}
.wl-superscript:before {
  content: "\f27f";
}
.wl-subscript:before {
  content: "\f28f";
}
.wl-superscript2:before {
  content: "\f29f";
}
.wl-subscript2:before {
  content: "\f2af";
}
.wl-text-color:before {
  content: "\f2bf";
}
.wl-pagebreak:before {
  content: "\f2cf";
}
.wl-clear-formatting:before {
  content: "\f2df";
}
.wl-table:before {
  content: "\f2e1";
}
.wl-table2:before {
  content: "\f2e2";
}
.wl-insert-template:before {
  content: "\f2e3";
}
.wl-pilcrow:before {
  content: "\f2e4";
}
.wl-ltr:before {
  content: "\f2e5";
}
.wl-rtl:before {
  content: "\f2e6";
}
.wl-section:before {
  content: "\f2e7";
}
.wl-paragraph-left:before {
  content: "\f2e8";
}
.wl-paragraph-center:before {
  content: "\f2e9";
}
.wl-paragraph-right:before {
  content: "\f2ea";
}
.wl-paragraph-justify:before {
  content: "\f2eb";
}
.wl-indent-increase:before {
  content: "\f2ec";
}
.wl-indent-decrease:before {
  content: "\f2ed";
}
.wl-share:before {
  content: "\f2ee";
}
.wl-new-tab:before {
  content: "\f2ef";
}
.wl-embed:before {
  content: "\f2f0";
}
.wl-embed2:before {
  content: "\f2f1";
}
.wl-terminal:before {
  content: "\f2f2";
}
.wl-share2:before {
  content: "\f2f3";
}
.wl-mail:before {
  content: "\f2f4";
}
.wl-mail2:before {
  content: "\f2f5";
}
.wl-mail3:before {
  content: "\f2f6";
}
.wl-mail4:before {
  content: "\f2f7";
}
.wl-amazon:before {
  content: "\f2f8";
}
.wl-google:before {
  content: "\f2f9";
}
.wl-google2:before {
  content: "\f2fa";
}
.wl-google3:before {
  content: "\f2fb";
}
.wl-google-plus:before {
  content: "\f2fc";
}
.wl-google-plus2:before {
  content: "\f2fd";
}
.wl-google-plus3:before {
  content: "\f2fe";
}
.wl-hangouts:before {
  content: "\f2ff";
}
.wl-google-drive:before {
  content: "\f300";
}
.wl-facebook:before {
  content: "\f301";
}
.wl-facebook2:before {
  content: "\f302";
}
.wl-instagram:before {
  content: "\f303";
}
.wl-whatsapp:before {
  content: "\f304";
}
.wl-spotify:before {
  content: "\f305";
}
.wl-telegram:before {
  content: "\f306";
}
.wl-twitter:before {
  content: "\f307";
}
.wl-vine:before {
  content: "\f308";
}
.wl-vk:before {
  content: "\f309";
}
.wl-renren:before {
  content: "\f30a";
}
.wl-sina-weibo:before {
  content: "\f30b";
}
.wl-rss:before {
  content: "\f30c";
}
.wl-rss2:before {
  content: "\f30d";
}
.wl-youtube:before {
  content: "\f30e";
}
.wl-youtube2:before {
  content: "\f30f";
}
.wl-twitch:before {
  content: "\f310";
}
.wl-vimeo:before {
  content: "\f311";
}
.wl-vimeo2:before {
  content: "\f312";
}
.wl-lanyrd:before {
  content: "\f313";
}
.wl-flickr:before {
  content: "\f314";
}
.wl-flickr2:before {
  content: "\f315";
}
.wl-flickr3:before {
  content: "\f316";
}
.wl-flickr4:before {
  content: "\f317";
}
.wl-dribbble:before {
  content: "\f318";
}
.wl-behance:before {
  content: "\f319";
}
.wl-behance2:before {
  content: "\f31a";
}
.wl-deviantart:before {
  content: "\f31b";
}
.wl-500px:before {
  content: "\f31c";
}
.wl-steam:before {
  content: "\f31d";
}
.wl-steam2:before {
  content: "\f31e";
}
.wl-dropbox:before {
  content: "\f31f";
}
.wl-onedrive:before {
  content: "\f320";
}
.wl-github:before {
  content: "\f321";
}
.wl-npm:before {
  content: "\f322";
}
.wl-basecamp:before {
  content: "\f323";
}
.wl-trello:before {
  content: "\f324";
}
.wl-wordpress:before {
  content: "\f325";
}
.wl-joomla:before {
  content: "\f326";
}
.wl-ello:before {
  content: "\f327";
}
.wl-blogger:before {
  content: "\f328";
}
.wl-blogger2:before {
  content: "\f329";
}
.wl-tumblr:before {
  content: "\f32a";
}
.wl-tumblr2:before {
  content: "\f32b";
}
.wl-yahoo:before {
  content: "\f32c";
}
.wl-yahoo2:before {
  content: "\f32d";
}
.wl-tux:before {
  content: "\f32e";
}
.wl-appleinc:before {
  content: "\f32f";
}
.wl-finder:before {
  content: "\f330";
}
.wl-android:before {
  content: "\f331";
}
.wl-windows:before {
  content: "\f332";
}
.wl-windows8:before {
  content: "\f333";
}
.wl-soundcloud:before {
  content: "\f334";
}
.wl-soundcloud2:before {
  content: "\f335";
}
.wl-skype:before {
  content: "\f336";
}
.wl-reddit:before {
  content: "\f337";
}
.wl-hackernews:before {
  content: "\f338";
}
.wl-wikipedia:before {
  content: "\f339";
}
.wl-linkedin:before {
  content: "\f33a";
}
.wl-linkedin2:before {
  content: "\f33b";
}
.wl-lastfm:before {
  content: "\f33c";
}
.wl-lastfm2:before {
  content: "\f33d";
}
.wl-delicious:before {
  content: "\f33e";
}
.wl-stumbleupon:before {
  content: "\f33f";
}
.wl-stumbleupon2:before {
  content: "\f340";
}
.wl-stackoverflow:before {
  content: "\f341";
}
.wl-pinterest:before {
  content: "\f342";
}
.wl-pinterest2:before {
  content: "\f343";
}
.wl-xing:before {
  content: "\f344";
}
.wl-xing2:before {
  content: "\f345";
}
.wl-flattr:before {
  content: "\f346";
}
.wl-foursquare:before {
  content: "\f347";
}
.wl-yelp:before {
  content: "\f348";
}
.wl-paypal:before {
  content: "\f349";
}
.wl-chrome:before {
  content: "\f34a";
}
.wl-firefox:before {
  content: "\f34b";
}
.wl-IE:before {
  content: "\f34c";
}
.wl-edge:before {
  content: "\f34d";
}
.wl-safari:before {
  content: "\f34e";
}
.wl-opera:before {
  content: "\f34f";
}
.wl-file-pdf:before {
  content: "\f350";
}
.wl-file-openoffice:before {
  content: "\f351";
}
.wl-file-word:before {
  content: "\f352";
}
.wl-file-excel:before {
  content: "\f353";
}
.wl-libreoffice:before {
  content: "\f354";
}
.wl-html-five:before {
  content: "\eae4";
}
.wl-html-five2:before {
  content: "\f355";
}
.wl-css3:before {
  content: "\eae6";
}
.wl-git:before {
  content: "\f356";
}
.wl-codepen:before {
  content: "\f357";
}
.wl-svg:before {
  content: "\f358";
}
.wl-IcoMoon:before {
  content: "\f359";
}
.wl-exe:before,.wl-bat:before,.wl-msi:before,.wl-lnk:before
{
    content:"\f2f2"
}
.wl-dat:before,.wl-mdb:before
{
  content:"\ef32"
}