/**
 *	@package    vscode-dark theme
 *	@version    1.0.0
 *	@author		  Inter-Net PRO
 *	@link       https://inter-net.pro
 *	@github     https://github.com/Inter-Net-Pro/Theme-VSCode-Dark
 */

.cm-s-vscode-dark span.cm-meta:hover {
    color: #a16a94;
    /* #569cd6 */
}

.cm-s-vscode-dark span.cm-number {
    color: #ED840D
}

.cm-s-vscode-dark span.cm-keyword {
    line-height: 1em;

    color: #40E1D6;
}

.cm-s-vscode-dark span.cm-def {
    color: #EA3862;
    /* #9cdcfe */
}

.cm-s-vscode-dark span.cm-variable {
    color: #9cdcfe;
    /* #ddd6a3 */
}

.cm-s-vscode-dark span.cm-variable-2 {
    color: #9cdcfe
}

.cm-s-vscode-dark span.cm-variable-3,
.cm-s-vscode-dark span.cm-type {
    color: #BC5678
}

.cm-s-vscode-dark span.cm-property {
    color: white;

    /* #9cdcfe */
}

.cm-s-vscode-dark span.cm-operator {
    color: #d4d4d4
}

.cm-s-vscode-dark span.cm-string {
    color: #00D8A9
}

.cm-s-vscode-dark span.cm-string-2 {
    color: #6A8759
}

.cm-s-vscode-dark span.cm-comment {
    color: #5D3A85
}

.cm-s-vscode-dark span.cm-link {
    color: #287BDE
}

.cm-s-vscode-dark span.cm-atom {
    color: #F64F2D;
    /* #569cd6 */
}

.cm-s-vscode-dark span.cm-error {
  
    font-style: italic;
  
}

.cm-s-vscode-dark span.cm-tag {
    color: #14C8FF
}

.cm-s-vscode-dark span.cm-attribute {
    color: #EDAC14
}

.cm-s-vscode-dark span.cm-qualifier {
    color: #3FDED3;
}

.cm-s-vscode-dark span.cm-bracket {
    color: #11B7C8
}

.cm-s-vscode-dark.CodeMirror {
    background: #111418;
    color: silver;
}

.cm-s-vscode-dark .CodeMirror-cursor {
    border-left: 1px solid #bebebe;
}

.CodeMirror-activeline-background {
    background-color: rgba(0,168,132, 0.08);
    border:1px solid  rgba(0,168,132, 0.1);
}

.cm-s-vscode-dark div.CodeMirror-selected {
    background-color: rgba(35,42,50,0.8);
}

.cm-s-vscode-dark .CodeMirror-gutters {
    /* background: #252526; */
    color: #11B7C8
}

.cm-s-vscode-dark span.cm-builtin {
    color: #A9B7C6;
}

.cm-s-vscode-dark {

}

.cm-s-vscode-dark .CodeMirror-matchingbracket {
    background-color: #3b514d;
    color: yellow !important;
}

.CodeMirror-hints.vscode-dark {
    font-family: Consolas, 'Courier New', monospace;
    color: #9c9e9e;
    background-color: #333 !important;
}

.CodeMirror-hints.vscode-dark .CodeMirror-hint-active {
    background-color: #494d4e !important;
    color: #9c9e9e !important;
}

.cm-s-vscode-dark .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0 !important;
}

.cm-s-vscode-dark .CodeMirror-linenumber {
    color: #555;
}